- time = Date.now()
head
  title FeedCast
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="theme-color" content="#00261C")
  link(rel="stylesheet" href="../css/bootstrap.min.css")
  link(rel="stylesheet" href="../css/font-awesome.min.css")
  link(rel="stylesheet" href="../css/feedcast.css?t=" + time)
  link(rel="icon" type="image/png" href="../img/feedcast.png")
  script(src="../js/jquery-3.1.1.min.js")
  script(src="../js/bootstrap.min.js")
  script(src="../js/app.js")