
.channel-top
  margin-bottom: 20px
  padding: 0px
.channel-top__navbar-left
  float: right
  display: inline-block
  .btn-group-vertical
    width: 100%
.channel-top__image
  height: 300px
  width: 300px
  background-size: auto 100%
  background-repeat: no-repeat
  background-color: $color-bg-navbar
  background-position: center
  position: relative

  h3
    position: absolute
    bottom: -10px
    background-color: $color-alternative  //$color-bg-navbar
    color: $font-color-alternative //$color-font-navbar
    width: 100%
    padding: 10px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

.channel-top__info
  float: left
  display: inline-block
  width: calc(100% - 350px)
  margin-bottom: 0px
  .panel-heading
    color: $color-alternative  //$color-bg-navbar
    background-color: $font-color-alternative //$color-font-navbar
    i
      font-size: 1.3em

.btn-group-vertical
  .btn, .btn:focus
    outline: none
    -webkit-box-shadow: none
    box-shadow: none
    background-color: #fff
    color: #3498DB
    border: 0px
    border-bottom: 1px solid #efefef
    margin: 10px 0px !important
    border-radius: 0px !important
  .btn:last-child
    border-bottom: none
    margin-bottom: 0px !important
  .btn:hover
    color: #2980B9




$font-size: 14px
$line-height: 1.4
$lines-to-show: 2


.channel-podcast,
.channel-podcast:link,
.channel-podcast:visited,
.channel-podcast:focus
  transition: background 1s ease
  background-color: #eee
  position: relative
  padding-top: 24px
  padding-left: 100px
  padding-bottom: 24px
  margin-bottom: 20px
  cursor: pointer
  color: #222
  &:hover
    background-color: #ddd

  &:before
    color: #E74C3C
    content: "\f144"
    font: normal normal normal 14px/1 FontAwesome
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    position: absolute
    left: 12px
    top: 50%
    transform: translateY(-50%)
    font-size: 88px

  h4
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

  p
    display: block /* Fallback for non-webkit */
    display: -webkit-box
    height: $font-size*$line-height*$lines-to-show /* Fallback for non-webkit */
    margin: 0 auto
    font-size: $font-size
    line-height: $line-height
    -webkit-line-clamp: $lines-to-show
    -webkit-box-orient: vertical
    overflow: hidden
    text-overflow: ellipsis








.channel-podcast__duration
  position: absolute
  bottom: -10px
  right: 0px
  padding: 4px
  background-color: #E74C3C
  color: #fff


@media ( max-width: 768px )
  .channel-top__navbar-left,
  .channel-top__image,
  .channel-top__info
    width: 100% !important
  .channel-top__image
    height: 180px