$color-bg-navbar: #fff
$color-font-navbar: #FD7400
$color-hover-navbar: #fefefe
$color-font-search: #333
$color-icon-search: #ccc

html, body
  background-color: #f1f1f1

input, textarea, button, nav
  border-radius: 0px !important

#brand-feedcast
  text-transform: uppercase
  position: relative
  padding-left: 40px
  svg
    height: 20px
    width: 20px
    position: absolute
    top: 20px
    left: 10px
    display: inline-block
    .st0
      fill: $color-font-navbar

#navbar-feedcast
  background-color: $color-bg-navbar
  border: 0px
  height: 60px
  border-bottom: 1px solid $color-font-navbar
  box-sizing: content-box

  .navbar-form
    margin: 13px auto
    input
      width: 400px
    button
      margin: 0px
      height: 34px
      margin-left: -4px
      border: 0px
      &:hover
        background-color: $color-hover-navbar

  .navbar-header > a,
  ul.nav > li > a
    color: $color-font-navbar
    text-decoration: none
    height: 60px
    line-height: 30px

    &:hover
      background-color: $color-hover-navbar

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover
  background-color: $color-hover-navbar

.channel
  margin-bottom: 10px
  a
    position: relative
    box-sizing: content-box
    display: block
    .channel-img
      width: 100%
      height: 140px
      background-size: cover
      background-position: center
    &:hover h3
      text-decoration: underline
    h3
      font-weight: bold
      margin: 0px
      padding: 10px 0px
      color: #2980B9
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      font-size: 13px


$font-size: 13px;
$line-height: 1.4;
$lines-to-show: 2;

.podcast
  margin-bottom: 10px
  a
    position: relative
    box-sizing: content-box
    display: block
    .podcast-img
      width: 100%
      height: 140px
      background-size: cover
      background-position: center
      &:after
        color: rgba(255,255,255, 0)
        content: "\f04b"
        display: inline-block
        font: normal normal normal 14px/1 FontAwesome
        font-size: inherit
        text-rendering: auto
        -webkit-font-smoothing: antialiased
        position: absolute
        left: 50%
        top: 50%
        margin-left: -25px
        margin-top: -50px
        font-size: 50px
        transition: all .4s ease
      &:hover:after
        color: #fff
    &:hover h3
      text-decoration: underline
    h3
      font-weight: bold
      // position: absolute
      // bottom: 0px
      color: #2980B9
      width: 100%
      height: 50px
      // white-space: nowrap
      // overflow: hidden
      // text-overflow: ellipsis
      display: block /* Fallback for non-webkit */
      display: -webkit-box
      height: $font-size*$line-height*$lines-to-show /* Fallback for non-webkit */
      margin: 0 auto
      font-size: $font-size
      line-height: $line-height
      -webkit-line-clamp: $lines-to-show
      -webkit-box-orient: vertical
      overflow: hidden
      text-overflow: ellipsis
    h5.duration
      position: absolute
      padding: 2px 2px
      margin: 0px
      background-color: rgba(0,0,0,.7)
      color: #fefefe
      bottom: $font-size*$line-height*$lines-to-show
      right: 0px

.title-gallery
  font-weight: bold

.search-form
  position: relative
  &:after
    color: $color-icon-search
    content: "\f002"
    display: inline-block
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    position: absolute
    right: 8px
    top: 6px
    font-size: 20px
  input#search-input.form-control
    background: none !important
    background-color: none !important
    color: $color-font-search
    border: 0px
    border-bottom: 1px solid rgba(0,0,0,.1)
    transition: all 1s ease
    padding-right: 30px
    &:focus
      border-bottom-color: $color-font-navbar
      outline: none
      -webkit-box-shadow: none
      box-shadow: none
.panel
  padding: 25px 15px