include mixins/podcast.pug
html
  include partials/header.pug
  body
    include partials/navbar-top
    .container
      .col-xs-12.channel-top
        .channel-top__navbar-left.panel
          .panel-body
            .channel-top__image(style='background-image:url(https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg)')
              h3 Nerdcast
            .btn-group-vertical(role="group" aria-label="...")
              button.btn.btn-default
                i.fa.fa-link
                |  Acessar site
              button.btn.btn-default
                i.fa.fa-star
                |  Adicionar aos favoritos
              button.btn.btn-default
                i.fa.fa-share
                |  Compartilhar
        .channel-top__info.panel.panel-default
          .panel-heading
            h3
              i.fa.fa-podcast
              |  Episódios
          .panel-body
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
            +podcast-item("/html/podcast.html", "02:43:30", "NerdCast 548 - Rogue One: A Fan Service Story asda dasd asd asd asd asd asd asda sda sda", "Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services. Comentamos sobre o filme Rogue One: Uma História Star Wars, passando pelos seus easter eggs até seus fan services.")
