include mixins/channel.pug
include mixins/podcast.pug
html
  include partials/header.pug
  body
    include partials/navbar-top
    .container
      .col-xs-12.panel.panel-default
        .panel-body
          h4.title-gallery Canais recomendados
          .row
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')
            +channel('col-xs-6 col-sm-3 col-md-2','channel.html','https://jovemnerd.com.br/wp-content/themes/jovemnerd/assets/images/nc-feed.jpg', 'NerdCast')

          h4.title-gallery Podcasts para você ouvir
          .row
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')
            +podcast('01:23:00','col-xs-6 col-sm-3 col-md-2','podcast.html','https://jovemnerd.com.br/wp-content/uploads/2016/12/NC_548_giga.jpg', 'NerdCast 548 - Rogue One: A Fan Service Story')