include mixins/channel.pug
include mixins/podcast.pug
html
  include partials/header.pug
  body
    include partials/navbar-top
    .container.panel
      h5.title-gallery Canais recomendados
      .row
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','http://vignette3.wikia.nocookie.net/jovem-nerd/images/a/ad/Nerdcast.jpg/revision/latest?cb=20130210194255&path-prefix=pt-br', 'Nerdcast')
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','https://placehold.it/350x150', 'Fronteiras da Ciência')
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +channel('col-xs-4 col-sm-3 col-md-2','channel.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')

      h5.title-gallery Podcasts para você ouvir
      .row
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'Nerdcast')
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'Fronteiras da Ciência')
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd ')
        +podcast('01:23:00','col-xs-4 col-sm-3 col-md-2','podcast.html','https://placehold.it/350x150', 'teste asd asd asd asd asd asd teste asd asd asd asd asd asdteste asd asd asd asd asd asd')