mixin podcast(duration, classes, url, image, name)
  .podcast(class=classes)
    a(href=url)
      .podcast-img(style='background-image: url(' + image + ')')
      h3= name
      h5.duration= duration